#wrapper {
	min-height: 800px;
	background: #000000;
	background-image: url("\static\css\images\lapiFon.png");

form {
    font: 20px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
    border: 1px solid white;/*Цвет, размер и тип границы */
    color: #ffffff;/*Цвет label */
    width: 40%; /*Ширина формы */
    margin-right: auto; /*Положение формы */
    margin-left: auto; /*Положение формы */
    text-align: center; /*Центровка текста*/

}

.reg{
	font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
	color: #ffffff;
}

.container {
    padding: 30px;/*Размер внутренних отступов контейнера*/
}