<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>This is a training version of the online petshop</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/feed.css') }}">
	</head>
	<body>
	<div id="wrapper">
			<div id="menu">
				<div id="logo"></div>
				<div class="catalog">
    <button class="catalog-button">Каталог</button>
    <div class="catalog-dropdown">
        <a id="1_submenu" href="#">Для кошек</a>
        <div class="sub-submenu_1">
            <a href="#">Корма</a>
            <a href="#">Лакомства</a>
			<a href="#">Игрушки</a>
			<a href="#">Уход</a>
			<a href="#">Одежда</a>
        </div>
        <a id="2_submenu" href="#">Для собак</a>
        <div class="sub-submenu_2">
            <a href="#">Корма</a>
            <a href="#">Лакомства</a>
			<a href="#">Миски и стойки</a>
			<a href="#">Намордники</a>
			<a href="#">Поводки, рулетки, ошейники</a>
			<a href="#">Лакомства</a>
			<a href="#">Уход</a>
			<a href="#">Одежда</a>
        </div>
        <a id="3_submenu" href="#">Аквариумистика</a>
        <div class="sub-submenu_3">
            <a href="#">Корм</a>
            <a href="#">Аквариумы</a>
			<a href="#">Фильтры</a>
			<a href="#">Декор</a>
        </div>
		<a id="2_submenu" href="#">Для птиц</a>
		<a id="2_submenu" href="#">Террариумистика</a>
		<a id="2_submenu" href="#">Для грызунов</a>
        <a href="#">Ветеринарная аптека</a>
    </div>
</div>
				<div class="search_block">
					<form>
						<input type="text" name=text" class="search" placeholder="Что вы ищите?">
						<input type="submit" name="submit" class="submit" value="Поиск">
					</form>
				</div>
				<a class="menu" href="#">Корзина</a>
				<a class="authorization" href="/authorization">Войти</a>
			</div>

			<div id="content">
			<div id="trending_products">
					<div>
						<h2>Корма</h2>
					</div>
				</div>
				<div class="trending_products_cards">
					<div class="card">
						<a href="#" >
							<div id="elem_1_1"></div>
							<div class="card__content">
								<h3 class="card__content-title">Pro balance</h3>
							</div>
						</a>

					</div>

					<div class="card">
						<a href="#">
							<div id="elem_2_1"></div>
							<div class="card__content">
								<h3 class="card__content-title">Vivere</h3>
							</div>
						</a>
					</div>

					 <div class="card">
						 <a href="#">
							<div id="elem_3_1"></div>
							<div class="card__content">
								<h3 class="card__content-title">Chicopee</h3>
							</div>
						</a>
					 </div>
				</div>

				<div class="trending_products_cards">
					<div class="card">
						<a href="#" >
							<div id="elem_1_2"></div>
							<div class="card__content">
								<h3 class="card__content-title">Happy Dog</h3>
							</div>
						</a>

					</div>

					<div class="card">
						<a href="#">
							<div id="elem_2_2"></div>
							<div class="card__content">
								<h3 class="card__content-title">Best dinner</h3>
							</div>
						</a>
					</div>

					 <div class="card">
						 <a href="#">
							<div id="elem_3_2"></div>
							<div class="card__content">
								<h3 class="card__content-title">Meglium</h3>
							</div>
						</a>
					 </div>
				</div>

				<div class="decor_line"></div>

				<div id="trending_products">
					<div>
						<h2>Хиты продаж</h2>
					</div>
				</div>
				<div class="trending_products_cards">
					<div class="card">
						<a href="#" >
							<div id="elem_1"></div>
							<div class="card__content">
								<h3 class="card__content-title">Happy Dog<br/>Консервы для собак телятина<br/>с рисом (Германия) -0.4 кг.</h3>
								<p class="card__content-description">
								485 p.
								</p>
								<a href="#">
								<div id="batton_shop">
							 В корзину
						</div>
						</a>
							</div>
						</a>

					</div>

					<div class="card">
						<a href="#">
							<div id="elem_2"></div>
							<div class="card__content">
								<h3 class="card__content-title">Happy Сat<br/>Паучи лосось - креветки в желе (Германия) - 0,1 кг.</h3>
								<p class="card__content-description">
								54.99 p.
								</p>
								<a href="#">
								<div id="batton_shop">
							 В корзину
						</div>
						</a>
							</div>
						</a>
					</div>

					 <div class="card">
						 <a href="#">
							<div id="elem_3"></div>
							<div class="card__content">
								<h3 class="card__content-title">Royal Canin MEDIUM Adult<br/>сухой корм для<br/>взрослых собак (11-25 кг) - 3 кг</h3>
								<p class="card__content-description">
								2544 p.
								</p>
							<a class="batton_shop" href="#">
								<div id="batton_shop">
							 В корзину
						</div>
						</a>
							</div>
						</a>
					 </div>
				</div>

				<div class="decor_line"></div>

				<div id="popular_products">
					<div>
						<h2>Новинки</h2>
					</div>
				</div>

				<div class="trending_products_cards">
					<div class="card">
						<a href="#" >
							<div id="elem_4"></div>
							<div class="card__content">
								<h3 class="card__content-title">Tetra AquaArt Discover Line<br/>аквариумный комплекс<br/>60 л</h3>
								<p class="card__content-description">
								10000 p.
								</p>
								<a href="#">
								<div id="batton_shop">
							 В корзину
						</div>
						</a>
							</div>
						</a>
					</div>

					<div class="card">
						<a href="#">
							<div id="elem_5"></div>
							<div class="card__content">
								<h3 class="card__content-title">WAUDOG<br/>поводок-рулетка<br/>размер XS-M 1,9 м</h3>
								<p class="card__content-description">
								1200 p.
								</p>
								<a href="#">
								<div id="batton_shop">
							 В корзину
						</div>
						</a>
							</div>
						</a>
					</div>

					 <div class="card">
						 <a href="#">
							<div id="elem_6"></div>
							<div class="card__content">
								<h3 class="card__content-title">Royal Canin Mini Adult<br/>влажный корм<br/>для собак мелких пород 85 г</h3>
								<p class="card__content-description">
								150 p.
								</p>
								<a href="#">
								<div id="batton_shop">
							 В корзину
						</div>
						</a>
							</div>
						</a>
					 </div>
				</div>

				<div class="decor_line"></div>

				<div class="registration">
					<div class="registration_text">
						<p>
						Остались вопросы?
						</p>
					</div>
					<div class="signUp_block">
						<form>
							<input type="text" name=text" class="signUp" placeholder="Ваше имя">
							<input type="text" name=text" class="signUp" placeholder="Ваш телефон">
							<input type="submit" name="submit" class="button_signUp" value="Заказать звонок">
						</form>
					</div>
				</div>

			</div>

			<div id="footer">

			<div class="footer_content">
						<div id="footer_content_1">
							<h4>CUSTOMER SERVICE</h4>

							<p>
							Ultricies <br/>
							Luctus <br/>
							Sit Map <br/>
							Imperdiet <br/>
							Accumsan
							</p>
						</div>

						<div id="footer_content_2">
							<h4>INFORMATION</h4>

							<p>
							About <br/>
							Non dictumst <br/>
							Mauris nec <br/>
							Tortor, ame
							</p>
						</div>

						<div id="footer_content_3">
							<h4>MY ACCOUNT</h4>

							<p>
							Quam <br/>
							Eleifend <br/>
							Justo <br/>
							Efficitur <br/>
							Sed
							</p>
						</div>

						<div id="footer_content_4">
							<h4>CONNECT</h4>

							<p>
							Nulla arcu amet <br/>
							Libero, libero, ut <br/>
							Mattis sed luctus <br/>
							In et libero <br/>
							Amet, vel urn
							</p>
						</div>
					</div>

					<div class="signature">
						<p>
							2025 Study assignment. PRZ-23 Nadein E.M.
						</p>
					</div>

		      <p class="info">Текущая дата и время: <time id="currentTime"></time></p>

				<script>
					var timeElement = document.getElementById('currentTime');
					setInterval(function () {
					var currentTime = new Date();
					timeElement.textContent = currentTime.toLocaleString()
					}, 1000);
				</script>
				<p class="info">Количество ваших посещений: <span id="visitCount">0</span></p>
				<script>
					function setCookie(name, value, days) {
						var expires = "";
						if (days) {
							var date = new Date();
							date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
							expires = "; expires=" + date.toUTCString();
						}
						document.cookie = name + "=" + (value || "") + expires + "; path=/";
					}

					function getCookie(name) {
						var nameEQ = name + "=";
						var ca = document.cookie.split(';');
						for (var i = 0; i < ca.length; i++) {
							var c = ca[i];
							while (c.charAt(0) === ' ') c = c.substring(1, c.length);
							if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
						}
						return null;
					}

					function countVisits() {
						var visits = getCookie("visitCount");
						if (visits) {
							visits = parseInt(visits) + 1;
						} else {
							visits = 1;
						}
						setCookie("visitCount", visits, 30); // Кука на 30 дней
						document.getElementById("visitCount").textContent = visits;
					}

					window.onload = countVisits;
				</script>
			</div>


   <script>
			function openPopup() {
		  var popup = document.querySelector('.popup');
		  popup.style.display = 'block';
		}
		function closePopup() {
		  var popup = document.querySelector('.popup');
		  popup.style.display = 'none';
		}
	</script>

	  <script>
        // Эта функция используется для добавления конкретного "value" (значения) на дисплей.
        function addToDisplay(value) {
            document.getElementById('display').value += value;
        }
        // Эта функция очищает дисплей, устанавливая его значение в пустую строку.
        function clearDisplay() {
            document.getElementById('display').value = '';
        }
        // Эта функция вычисляет результат выражения на дисплее с помощью функции 'eval'.
        // Она обрабатывает ошибки и выводит сообщение 'Error', если выражение недопустимо.
        function calculateResult() {
            try {
       // Получение результата выражения и вывод результата на дисплей.
                document.getElementById('display').value = eval(document.getElementById('display').value);
            } catch (error) {
       // Если в процессе вычисления возникла ошибка, на дисплее отобразится сообщение 'Error'.
                document.getElementById('display').value = 'Error';
            }
        }
    </script>

	</div>

	</body>
</html>
