<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <form method="POST">
        <form method="POST">
            <div class="container">
                <label><b>Пользователь с таким Именем уже существует</b></label>
            </div>
            <div class="container">
                <span> <a class="reg" href="/registration">Назад к регистрации</a></span>
            </div>
        </form>

        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/regBad.css') }}">
</div>
</body>
</html>